<div class="container">
  <%= link_to 'créer un contact', new_contact_path, class: 'btn btn-warning m-4' %>
    <%= button_to '10', pages10_path, method: :post, class: "btn btn-success" %>
    <%= button_to '20', pages20_path, method: :post, class: "btn btn-success" %>
    <%= button_to '50', pages50_path, method: :post, class: "btn btn-success" %>
    <% @contacts.sort_by(&:created_at).reverse.first(@pages).each do |contact| %>
    <div class="card mb-4">
      <%= link_to contact_path(contact), class: "text-center" do %>
      <h2 class="text-center m-2"><%= contact.name %> <br>
        Tags:
        <% contact.tags.each do |tag| %>
          <%= tag.title %>
        <% end %>
      </h2>
      <% end %>
      <%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-warning" %>
      <%= button_to "Destroy", contact, method: :delete, data: { confirm: "Êtes-vous sur?"} %>

    </div>
    <% end %>
</div>
