<div class="container">
  <%= link_to 'créer un contact', new_contact_path, class: 'btn btn-warning m-4' %>
    <%= link_to '20', pages20_path, class: "btn btn-success" %>
    <%= link_to '50', pages50_path, class: "btn btn-success" %>
    <% @contacts.sort_by(&:created_at).reverse.first(10).each do |contact| %>
    <div class="card mb-4">
      <%= link_to contact_path(contact), class: "text-center" do %>
      <h2 class="text-center m-2"><%= contact.name %>
        <% if contact.tag == true %>
        ✓
        <% end %>
      </h2>
      <% end %>
      <%= button_to 'Tag', contact_tag_path(contact), method: :post %>
      <%= link_to 'Edit', edit_contact_path(contact), class: "btn btn-warning" %>
      <%= button_to "Destroy", contact, method: :delete, data: { confirm: "Êtes-vous sur?"} %>

    </div>
    <% end %>
</div>
