<h2 class="text-center m-2"><%= @contact.name %></h2>
<h4> Tags:
  <% @contact.tags.each do |tag| %>
    <%= tag.title %>
  <% end %>
</h4>

<%= link_to 'Edit', edit_contact_path(@contact), class: "btn btn-warning" %>

<%= link_to 'créer un tag', new_contact_tag_path(@contact), class: "btn btn-warning" %>

<%= link_to 'Retour', contacts_path %>
